<section class="about common-section">
  <article class="full-width">
    <div class="about-description">
      <header>
        About Our Company
      </header>
      <div class="subheader">Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididun</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisr sit amet, consectetur adipisicing magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisr sit amet, consectetur   quis nostrud exercitation ullamco laborisr sit amet, consectetur adipisicing magna aliqua. Ut enim ad minim veniam, quis nostr</p>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  veniam, quis ud exercitation</p>
    </div>
    <div class="about-img"></div>
      <!--<header class="about-header">
        About Our Company
      </header>
      <h4 class="about-subheader">Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididun</h4>
      <div class="about-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisr sit amet, consectetur adipisicing magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisr sit amet, consectetur   quis nostrud exercitation ullamco laborisr sit amet, consectetur adipisicing magna aliqua. Ut enim ad minim veniam, quis nostr</div>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  veniam, quis ud exercitation</>
      </div>
    </div>
    <img/>-->
  </article>
</section>
