<section class="benefits common-section">
  <article>
    <header class="common-header">
      Benefits from Work with Us
    </header>
    <div class="description">
      Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididamco
    </div>
    <i class="icon"></i>
    <div class="benefits-list">
      <div class="common-tile">
        <i class="icon"></i>
        <div class="tile-header">Fully Trained Mechanics</div>
        <div class="tile-description">Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna</div>
      </div>
      <div class="common-tile">
        <i class="icon"></i>
        <div class="tile-header">Car Service bulletins</div>
        <div class="tile-description">Mipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tet dolore magna</div>
      </div>
      <div class="common-tile">
        <i class="icon"></i>
        <div class="tile-header">New Car Warranty</div>
        <div class="tile-description">Em ipsum dolor sit amet, consectetur adipisicing elit, sed dodidunt ut labore et dolore magna</div>
      </div>
    </div>
  </article>
</section>
