<section class="contact common-section">
  <article class="full-width">
    <div class="contact-img"></div>
    <div class="contact-description">
      <header>
        Contact
      </header>
      <div class="subheader">
        Zapraszamy do naszego wartsztatu
      </div>
      <ul class="contact-list">
        <li>Mościska, ul. 3-go Maja 28</li>
        <li>05-080 Izabelin​</li>
        <li>Tel. kom. 721-202-402​</li>
      </ul>
      <div class="directions">
        <p class="subheader">Jak do nas dojechać?</p>
        <p>Warsztat znajduje się około 500m od drogi Wolbrom - Miechów
          <br>
        Jadąc nią skręć na skrzyżowaniu do Szreniawy, a później kieruj się w stronę kościoła</p>
      </div>
    </div>
  </article>
</section>
