<section class="services common-section">
  <article>
    <header class="services-header">
      Our Services
    </header>
    <div class="description">
      Rem ipsum dolor sit amet, conseaactetur adipisicing
      elit, sed do eiusmod tempor incididun
    </div>
    <i class="icon"></i>

    <div class="services-list">

      <div class="service-tile">
        <i class="icon"></i>
        <div class="tile-header">Brakers & Brakers Repair</div>
        <div class="tile-description">Lior sit amet, consectetur adipisg elit, sed do eiusmod tempor incdunt ut labore</div>
      </div>

      <div class="service-tile">
        <i class="icon"></i>
        <div class="tile-header">Oil Change</div>
        <div class="tile-description">Amet, consectetur adipisicing elit, sed do eiusmod tempor incidunt ut labore</div>
      </div>

      <div class="service-tile">
        <i class="icon"></i>
        <div class="tile-header">Tires & Tires Repair</div>
        <div class="tile-description">Amet, consectetur adipisicing elit, sed do eiusmod tempor incidunt ut labore</div>
      </div>

      <div class="service-tile">
        <i class="icon"></i>
        <div class="tile-header">Mufflers & Exhaust Service</div>
        <div class="tile-description">Amet, consectetur adipisicing elit, sed do eiusmod tempor incidunt ut labore</div>
      </div>

      <div class="service-tile">
        <i class="icon"></i>
        <div class="tile-header">Check Engine Light</div>
        <div class="tile-description">Amet, consectetur adipisicing elit, sed do eiusmod tempor incidunt ut labore</div>
      </div>

      <div class="service-tile">
        <i class="icon"></i>
        <div class="tile-header">Belts & Hoses</div>
        <div class="tile-description">Amet, consectetur adipisicing elit, sed do eiusmod tempor incidunt ut labore</div>
      </div>

      <div class="service-tile">
        <i class="icon"></i>
        <div class="tile-header">Car Heating & A/C</div>
        <div class="tile-description">Amet, consectetur adipisicing elit, sed do eiusmod tempor incidunt ut labore</div>
      </div>

      <div class="service-tile">
        <i class="icon"></i>
        <div class="tile-header">Steering &Suspension</div>
        <div class="tile-description">Amet, consectetur adipisicing elit, sed do eiusmod tempor incidunt ut labore</div>
      </div>
    </div>
  </article>
</section>
